doctype html
html(lang="ja")
head
    meta(charset="UTF-8")
    title PCでしかアクセスできません
    meta(name="viewport",content="width=device-width,initial-scale=1")
body
	h1 このページはPC専用です
	p PCから入り直してくださいm(_ _)m
