
#canvas,#canvas canvas{
    top:0;
    left:0;
    position:absolute;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transition-delay: 1s;
}

#canvas.js-show{
    visibility: visible;
    display: block;
    opacity: 1;
    canvas{
        visibility: visible;
        display: block;
        opacity: 1;
    }
}

#navWrap{
    z-index: 9999;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.js-disappear{
        display: none;
    }
}

.navWrap{
    @at-root{
        #{&}__inner{
            box-sizing: border-box;
            width:200px;
            height:200px;
            padding:20px;
            position: relative;
            visibility: visible;
            opacity: 1;
            transition: .3s;
            transition-delay: .3s;
        }
        #{&}__loadWindow{
            top:0;
            left:0;
            position: absolute;
        }
        #{&}__startWindow{
            top:0;
            left:0;
            position: absolute;
        }
    }
}

.loadWindow{
    box-sizing: border-box;
    width:200px;
    height:200px;
    padding:20px;
    visibility: visible;
    opacity: 1;
    transition: .3s;
    transition-delay: .3s;
    @at-root{
        #{&}__loadingImg{
            display:block;
            margin:0 auto;
            &.js-rotate{
                animation: Rotate 4s linear infinite;
            }
        }
        #{&}__loadBar{
            box-sizing: border-box;
            width:150px;
            height:30px;
            margin:0 auto;
            position: relative;
            border:solid 1px;
        }
        #{&}__insideLoadBar{
            top:0;
            left:0;
            width:30%;
            height:100%;
            position: absolute;
            background:#6cbdf0;
        }
        #{&}__text{
            text-align: center;
            font-weight: bold;
        }
    }
    &.js-hide{
        visibility: hidden;
        opacity: 0;
    }
}

.startWindow{
    width:200px;
    height:200px;
    opacity: 0;
    visibility: hidden;
    display:none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transition-delay: 1.2s;
    @at-root{
        #{&}__btn{
            display: block;
            font-family: 'ほのか丸ゴシック';
            font-size: 20px;
            border-radius: 5px;
            width:200px;
            height:50px;
            background:white;
        }
    }
    &.js-show{
        opacity: 1;
        visibility: visible;
        display:block;
        display: flex;
    }
}










