

#footerWrapper{
//    width:100%;
}

.footer{
    position:relative;
    padding:100px 0 200px;
    background:$mainBlack;
    @at-root{
        #{&}__heading{
            font-family: Futura,Trebuchet MS,Arial,sans-serif;
            font-size: 60px;
            line-height:60px;
            color: $mainGreen;
            text-align: center;
        }
        #{&}__button{
            font-family: Futura,Trebuchet MS,Arial,sans-serif;
            font-size: 60px;
            line-height:60px;
            color: $mainPink;
            text-align: center;
            margin:0 auto;
        }
    }
}