

//------------------------------------------------------
//section1のレイアウト指定
//------------------------------------------------------
#mainWrapper{
    width:100%;
    position:relative;
    padding:200px 0;
    background:$mainGreen;
}

.main{
    @at-root{
        #{&}__bgGear1{
            top:20px;
            left:20px;
            width:300px;
            height:300px;
            position:absolute;
        }
    }
}

.section1{
    box-sizing: border-box;
    width:50%;
    position:relative;
    padding-top: 20px;
    margin:0 auto;
    text-align: center;
    @at-root{
        #{&}__text{
            color: $mainBlack;
        }
        #{&}__img{
            box-sizing: border-box;
            width:600px;
            height:500px;
            margin:0 auto;
            position:relative;
            img:first-child{
                top:0;left:0;
                position: absolute;
            }
            img:nth-of-type(2){
                top:26px;right:0;
                width:100px;
                margin:0 auto;
                position: absolute;
            }
            img:nth-of-type(3){
                top:238px;left:200px;
                width:100px;
                margin:0 auto;
                position: absolute;
            }
            img:nth-of-type(4){
                top:100px;left:321px;
                width:100px;
                margin:0 auto;
                position: absolute;
            }
            img:nth-of-type(5){
                top:163px;left:436px;
                width:100px;
                margin:0 auto;
                position: absolute;
            }
            img:nth-of-type(6){
                top:162px;left:248px;
                width:100px;
                margin:0 auto;
                position: absolute;
            }
            img:last-child{
                bottom:0;left:0;
                margin:0 auto;
                position: absolute;
            }
        }
    }
}


.section2{
    box-sizing: border-box;
    text-align: center;
    width:calc(100%*2/3);
    margin:0 auto;
    padding-top: 20px;
    @at-root{
        #{&}__PCColumnContainer{
            float:left;
        }
        #{&}__SMColumnContainer{
            float:left;
            border-left: 4px #fff solid;
        }
    }
}
.introContainer{
    box-sizing: border-box;
    width:50%;
    height:auto;
    padding:20px;
    @at-root{
        #{&}__textBox{
            box-sizing: border-box;
            width:90%;
            height:200px;
            margin:0 auto;
            padding:10px 20px;
            border-bottom:solid 2px #fff;
            &:last-child{
                border: none;
            }
        }
        #{&}__textBoxHeading{
            text-align:0 center;
        }
        #{&}__textBoxText{
            text-align:0 center;
        }
    }
}


.section3{
    box-sizing: border-box;
    text-align: center;
    width:calc(100%*2/3);
    margin:0 auto;
    padding-top: 20px;
    @at-root{
        #{&}__table{
            width:100%;
            tr{
                height:40px;
            }
            th{
                border-right: 1px solid;
                width:20%;
            }
            th,td{
                vertical-align: middle;
            }
            
        }
        
    }
}




