<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>birdAlbum.html</title>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src=" https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="/js/lib/three/three.min.js"></script>
<script src="/js/lib/three/DeviceOrientationControls.js"></script>
<script src="/js/lib/three/tween.min.js"></script>
<script src="/js/lib/three/ColladaLoader.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="canvas"></div>
        <p id="msg">hello</p>
        <button id="check">check</button>
        <button id="sound">sound</button>
    </div><!--wrapper-->
    
    <!--    roomIDの取得    -->
    <input type="hidden" value="<%= roomID%>" id="roomID">
    
    <!--    このデバイス名を取得する場所    -->
    <input type="hidden" value="SM" id="thisDevice">
    
<script src="/js/all.min.js"></script>
</body>
</html>